$sidebarGrid: 
	"a a a a a a a a a a a a a a"
	"c c c c c c c c c c c c c c"
	"o o o o . f f f f . w w w w"
	". . . . . . . . . . . . . ."
	". . . . i i i i i i . . . .";

$sidebarLandscapeGrid:
	"a a a a a a a a a a a a a a"
	". . . . . . . . . . . . . ."
	"o o o o o o o o o o o o o o"
	"f f f f f f f f f f f f f f"
	"w w w w w w w w w w w w w w"
	". . . . . . . . . . . . . ."
	". . . . . . . . . . . . . ."
	". . i i i i i i i i i i . .";

$portraitGrid: "m" "m" "m" "m" "m" "s" "s";
$landscapeGrid: "m s" "m s" "m s" "m s" "m s" "m s" "m s";

@media screen and (max-device-width: 1024px) {
	#wrapper {
		display: grid;
	}

	.map {
		grid-area: m;
	}

	.sidebar {
		display: grid;
		grid-gap: 10px 0;
		grid-area: s;
		padding: 20px;
		grid-template-columns: repeat(14, 1fr);
		grid-auto-rows: minmax(0, 100px);
	}

	.content {
		width: 0;
		font-size: 0;
	}
}

@media screen and (max-device-width: 1024px) and (orientation: landscape) {
	#wrapper {
		grid-template-columns: 7fr 3fr;
		grid-template-rows: repeat(7, (100vh / 7));
		grid-template-areas: $landscapeGrid;
	}
	.sidebar {
		grid-template-areas: $sidebarLandscapeGrid;
	}
}

@media screen and (max-device-width: 1024px) and (orientation: portrait) {

	#wrapper {
		grid-template-columns: 100vw;
		grid-template-rows: repeat(7, (100vh / 7));
		grid-template-areas: $portraitGrid;
	}

	.sidebar {
		grid-template-areas: $sidebarGrid;
	}
}